<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:name=".AppActivity"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AugaluRatas"
        tools:targetApi="31" >
        <activity
            android:name=".ForgottenPassword"
            android:exported="false"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".Privacy"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".About"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".Help"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".Notifications"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".UserData"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ShoppingCartList"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".UserPostOverlay"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".UserPosts"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".SubscriptionSuccess"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".Subscription"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".PlantDescription"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".AllPosts"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".AllPlants"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".PostDescription"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".NewsOverlay"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ShoppingCart"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".AddPost"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".MainPage"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".UserProfile"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".Settings"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".MeniuOverlay"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".Register"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".FirstLoadScreen"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>